<div class='map-room-form'>
  <h1>詳細</h1>
  <div class='map-room-form__field'>
    
    <div class='map-show-left'>
      現場名
    </div>
    <div class='map-show-right'>
      <div class='map-title'>
        <%= @map.title%>
      </div>
    </div>

    <div class='map-show-left'>
      住所
    </div>
    <div class='map-show-right'>
      <div class='map-address'>
        <%= @map.address %>
      </div>
    </div>

    <div class='map-show-left'>
      地図
    </div>
    <div class='map-show-right'>
      <div class='map-field'>
        <div id="map"></div>
      </div>
    </div>



  </div>
</div>

<script type="text/javascript">
  window.onload = function initMap() {
    var test ={lat: <%= @map.latitude %>, lng: <%= @map.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 18, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @map.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>